extends layout
block title
    title Коран в хронологическом порядке
block content
    .container
        .starter-template
            h1 Священный Коран
                p: small в хронологическом порядке
            blockquote
                p
                    | «И Мы облегчили Коран для поминания, но найдется ли хоть один припоминающий!»
                footer
                    | (54:17)

            br
            .sures
                small
                    ol.list
                        each item in data
                            li
                                a(href=item.href)!=item.text
